.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.pure-g{
    width: 100%
}

.con {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}

.con11 {
    width: 100%;
    background-color: aliceblue;
    padding: 20px;
}

.con23 {
    flex: 2;
    padding: 20px;
    background-color: aliceblue;
}
.con13 {
    flex: 1;
    text-align: left;
    padding: 20px;
    background-color: aliceblue;
}

#dual {
    margin: 8px 0 8px, 0;
}


.desc > p{
    column-count: 2;
    column-gap: 5px;
    row-gap: 5px;
    text-align: left;
    padding: auto;
}


.vis_con, p{
    background-color: whitesmoke;
    width: 100%;
    box-sizing: content-box;
}

.sincol {
    column-count: 1;
}

.desc{
    background-color: whitesmoke;
    padding: 2%;
    margin-top: 8px;
}

.seps{
    background-color: #231e51;
    outline-color: #231e51;
    height: 10px;
    width: 100%;
    border: none;
}